@model StrongQuiz.Models.ViewModel.AddQuestionsWithQuiz
@{
    var counter = 0;
}
<h4>Question</h4>
<hr />
<div class="row">
    <form asp-action="AddQuestionToQuiz" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @for (var index = 0; index < Model.questions.Count; index++)
        {
            <input asp-for="@Model.quiz.Above75Quote" style="display:none;" value="@Model.quiz.Above75Quote" />
            <input asp-for="@Model.quiz.Below50Quote" style="display:none;" value="@Model.quiz.Below50Quote" />
            <input asp-for="@Model.quiz.Below75Quote" style="display:none;" value="@Model.quiz.Below75Quote" />
            <input asp-for="@Model.quiz.Description" style="display:none;" value="@Model.quiz.Description" />
            <input asp-for="@Model.quiz.Id" style="display:none;" value="@Model.quiz.Id" />
            <input asp-for="@Model.quiz.Name" style="display:none;" value="@Model.quiz.Name" />
            <input asp-for="@Model.quiz.Difficulty" style="display:none;" value="@Model.quiz.Difficulty" />
            <input asp-for="@Model.quiz.QuestionCount" style="display:none;" value="@Model.quiz.QuestionCount" />


            <input asp-for="@Model.questions[index].QuizId" style="display:none;" value="@ViewBag.QuizId" />
            <input asp-for="@Model.questions[index].QuestionID" style="display:none;" value="@Model.questions[index].QuestionID" />

            <div class="container mb-5">
                <div class="row">

                    <div class="w-100 ml-3">
                        <label asp-for="@Model.questions[index].QuestionName" class="control-label"></label>
                        <input asp-for="@Model.questions[index].QuestionName" class="form-control" />
                        <span asp-validation-for="@Model.questions[index].QuestionName" class="text-danger"></span>
                    </div>
                    <div class="w-100 ml-3">
                        <label asp-for="@Model.questions[index].QuestionName" class="control-label"></label>
                        <input name="questionImage" type="file" data-guid="@Model.questions[index].QuestionID" class="form-control questionImage " />
                        <input name="imageav" id="@Model.questions[index].QuestionID" type="text" style="display:none" value="0" />
                        <span asp-validation-for="@Model.questions[index].QuestionName" class="text-danger"></span>
                    </div>
                    @{
                        for (var answerindex = 0; answerindex < @Model.questions[index].Answers.Count; answerindex++)
                        {
                            <div class="col">
                                <label class="control-label">Answer</label>
                                <input asp-for="@Model.questions[index].Answers[answerindex].AnswerId" value="@Guid.NewGuid()" style="display:none;" />
                                <input asp-for="@Model.questions[index].Answers[answerindex].QuestionId" value="@Model.questions[index].QuestionID" style="display:none;" />
                                <input asp-for="@Model.questions[index].Answers[answerindex].AnswerName" class="form-control" />
                                <input asp-for="@Model.questions[index].Answers[answerindex].QuestionId" style="display:none" value="@Model.questions[index].QuestionID" />
                                <span asp-validation-for="@Model.questions[index].Answers[answerindex].AnswerName" class="text-danger"></span>

                                <select asp-for="@Model.questions[index].Answers[answerindex].Correct" asp-items="Html.GetEnumSelectList<Answer.State>()">
                                    <option>-- Is de vraag correct --</option>
                                </select>
                                <span asp-validation-for="@Model.questions[index].Answers[answerindex].Correct" class="text-danger"></span>
                            </div>
                            if (counter == 1)
                            {
                                <div class="w-100"></div>
                                counter++;
                            }
                            else
                            {
                                counter++;
                            }

                        }
                        counter = 0;
                    }
                </div>

            </div>

        }
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>


</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

